<table class="table table-hover">
  <thead>
    <tr>
      <th>編號</th>
      <th>車牌</th>
      <th>品牌</th>
      <th>型號</th>
      <th>Error Code</th>
      <th>時間</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @events.each do |c| %>
      <%= render partial: "event", locals: {c: c} %>
    <% end %>
  </tbody>
</table>
